@page "/dashboard"
@rendermode InteractiveServer
@using NutritionApp.Controllers
@using NutritionApp.Models
@using NutritionApp.Services
@inject NavigationManager Nav
@inject SessionService Session

<div style="text-align:center; margin-top:50px;">

    <h3>Dashboard</h3>

    <table style="margin:auto; text-align:left;">
        <tr>
            <td><b>Welcome:</b></td>
            <td>@user.FullName</td>
        </tr>
        <tr>
            <td><b>Email:</b></td>
            <td>@user.Email</td>
        </tr>
        <tr>
            <td><b>Age:</b></td>
            <td>@user.Age</td>
        </tr>
        <tr>
            <td><b>Weight:</b></td>
            <td>@user.Weight kg</td>
        </tr>
        <tr>
            <td><b>Height:</b></td>
            <td>@user.Height cm</td>
        </tr>
        <tr>
            <td><b>Goal:</b></td>
            <td>@user.Goal</td>
        </tr>
        <tr>
            <td><b>Diet:</b></td>
            <td>@user.DietType</td>
        </tr>
        <tr>
            <td><b>Activity:</b></td>
            <td>@user.ActivityLevel</td>
        </tr>
        <tr><td colspan="2"><hr /></td></tr>
        <tr>
            <td><b>BMI:</b></td>
            <td>@bmi (@bmiCategory)</td>
        </tr>
        <tr>
            <td><b>Maintenance Calories:</b></td>
            <td>@maintenance kcal</td>
        </tr>
        <tr>
            <td><b>Daily Goal:</b></td>
            <td>@dailyCalories kcal</td>
        </tr>
        <tr><td colspan="2"><hr /></td></tr>
        <tr>
            <td><b>Protein:</b></td>
            <td>@macros.ProteinGrams g (@macros.ProteinCalories kcal)</td>
        </tr>
        <tr>
            <td><b>Carbs:</b></td>
            <td>@macros.CarbGrams g (@macros.CarbCalories kcal)</td>
        </tr>
        <tr>
            <td><b>Fat:</b></td>
            <td>@macros.FatGrams g (@macros.FatCalories kcal)</td>
        </tr>
    </table>

    <br />
    <button @onclick="GoToMenus">My Menus</button>
    <button @onclick="GoToStats">Statistics</button>
    <button @onclick="GoToEditProfile">Edit Profile</button> 
    <button @onclick="GoToReports">Reports</button>
    <button @onclick="Logout">Logout</button>
</div>

@code {
    private User user = new User();
    private NutritionService nutritionService = new NutritionService();
    private double bmi;
    private string bmiCategory = "";
    private double maintenance;
    private double dailyCalories;
    private MacroDistribution macros = new MacroDistribution();
    private void GoToReports() => Nav.NavigateTo("/reports");

    protected override void OnInitialized()
    {
        user = Session.CurrentUser;

        bmi = nutritionService.CalculateBMI(user.Weight, user.Height);
        bmiCategory = nutritionService.GetBMICategory(bmi);
        maintenance = nutritionService.CalculateMaintenanceCalories(user);
        dailyCalories = nutritionService.CalculateDailyCalories(user);
        macros = nutritionService.GetMacros(user, dailyCalories);
    }

    private void GoToMenus() => Nav.NavigateTo("/menus");
    private void GoToStats() => Nav.NavigateTo("/statistics");
    private void GoToEditProfile() => Nav.NavigateTo("/editprofile");
    private void Logout() => Nav.NavigateTo("/");
}